<tr>
    <div class="score">
        <th>{{name}}</th>
        <th>{{score}}</th>
        <th>
            <button id="deleteButton" onclick="deleteScore()">DELETE</button>
        </th>
    </div>
</tr>