<main>
	<h1 style="text-align: center;">404 Error!</h1>
	<h2 style="text-align: center;">We were unable to find the specified page!</h2>

	<h4 style="text-align: center;">Click <a href="/">here</a> to play the game.</h4>
</main>