<script>
	document.getElementById("404H2")innerHTML = "We were unable to find the specified page " + window.location.href + ".";
</script>
<main>
	<h1 style="text-align: center;">404 Error!</h1>
	<h2 id="404H2" style="text-align: center;"></h2>

	<h4 style="text-align: center;">Click <a href="/">here</a> to play the game.</h4>
</main>