<script src="index.js" charset="utf-8" defer></script>
<main>
    <h1 style="text-align: center; color: white">Lets Roll Some Dice!</h1>
    <div id="GameBoard">
        <button id="rollBTN">Roll</button>

        <img id="dice1" class="dice inactive"/>
        <img id="dice2" class="dice inactive"/>
        <img id="dice3" class="dice inactive"/>
        <img id="dice4" class="dice inactive"/>
        <img id="dice5" class="dice inactive"/>

        <!--I was thinking this could be the spot for the random dice-->
        {{#each renDice}}
        {{> dieImg}}
        {{/each}}

    </div>

</main>
<footer>
    <p>This game is still a WIP</p>
</footer>
