<script src="index.js" charset="utf-8" defer></script>
<main>
    <h1 style="text-align: center; color: white">Lets Play Hearts!</h1>
    <div id="GameBoard">
        <button id="rollBTN">Roll</button>

        <!--I was thinking this could be the spot for the random dice-->
        {{#each dice}}
        {{> dieImg}}
        {{/each}}

        <div id="playerHand" class="fan active-hand" data-fan='spacing: 0.2; width: 80; radius: 80; cards: AH, KH, QH, JH, QS'></div>
        <div id="CPU_LEFT" class="hand" data-hand="x: -50; cards: 2H, 3H, 4H, 5H, 6H"></div>
        <div id="CPU_UP" class="hand" data-hand="y: -50; cards: AC, 2C, 3C, 4C, 5C"></div>
        <div id="CPU_RIGHT" class="hand" data-hand="x:  50; cards: AD, 2D, 3D, 4D, 5D"></div>
    </div>
</main>
<footer>
    <p>Hearts is a open game based off twists from older games. For official rulesets, please visit the <a href="https://en.wikipedia.org/wiki/Hearts_(card_game)">Wikipedia Article</a>. Our game was built using the help of <a href="http://richardschneider.github.io/cardsJS/">cardsJS</a> from richardschneider his github.</p>
</footer>
