<main>
    <h1 style="text-align: center; color: white">Lets Play Hearts!</h1>
    <div id="GameBoard">
        <button id="dealBTN">Deal</button>

        <div class="hand fan active-hand">
            <img class='card' src='/cards/AS.svg'>
            <img class='card' src='/cards/KS.svg'>
            <img class='card' src='/cards/QS.svg'>
            <img class='card' src='/cards/JS.svg'>
            <img class='card' src='/cards/10S.svg'>
            <img class='card' src='/cards/9H.svg'>
            <img class='card' src='/cards/3H.svg'>
            <img class='card' src='/cards/10D.svg'>
            <img class='card' src='/cards/4D.svg'>
            <img class='card' src='/cards/2D.svg'>
            <img class='card' src='/cards/8C.svg'>
            <img class='card' src='/cards/7C.svg'>
            <img class='card' src='/cards/6C.svg'>
        </div>
    <div>
</main>
<footer>
    <p>Hearts is a open game based off twists from older games. For official rulesets, please visit the <a href="https://en.wikipedia.org/wiki/Hearts_(card_game)">Wikipedia Article</a>. Our game was built using the help of <a href="http://richardschneider.github.io/cardsJS/">cardsJS</a> from richardschneider his github.</p>
</footer>
