<main>
    <div class="RuleBlock">
    	<h2>Game Objectives</h2>
    	<p>To be the player with the lowest score at the end of the game. When one player hits 100 points or higher, the game ends; and the player with the lowest score wins!</p>
    </div>
    <div class="RuleBlock">
    	<h2>Card Values and Scoring</h2>
    	<h4>Card Values</h4>
    		<dd>All cards from the hears suit have a value of 1 point. However, the Queen of the spades suit has a destructive point value of 13. Watch out for her!</dd>
    	<h4>Scoring</h4>
    		<dd>At the end of each round, when every player has layed down a card, the player whomst placed the highest card, of the initial suit played, will take the pile of cards played, and all points that come with it. On the first hand taken, the two middle floating cards, if any, will go to the losing hand.</dd>
    </div>
    <div class="RuleBlock">
	    <h2>How To Play</h2>
	    <h4>Dealing</h4>
	    	<dd>The dealer can be choosen at random, and will deal every card until another round of cards can no longer be delt (these remaining cards are left in the middle pile)</dd>
	    <h4>Passing Cards</h4>
	    	<dd>Before the start of the round, all players must pass cards:</dd>
	    	<dd>Round 1 - all players must pass right.</dd>
	    	<dd>Round 2 - all players must pass left.</dd>
	    	<dd>Round 3 - all players must pass 2 to the right.</dd>
	    	<dd>Round 4 - all players must pass 2 to the left.</dd>
	    	<dd>Round 5 - all players MUST HOLD their hand.</dd>
	    	<dd>Round 6 - repeat from round 1 passing.</dd>
	    <h4>Starting</h4>
	    	<dd>In order for the round to start, a player must start with the 2 of the suit of clubs. If no one is holding the 2 of clubs, it is in the middle pile, and thus the 3 of clubs will start the game. From there the game plays one player at a time clockwise until no cards are left.</dd>
	    <h4>What Suit to Play</h4>
	    	<dd>If it is your hand to start, you can choose any suit to play. The only exception to this rule, is if the round just started and hearts haven't been played.</dd>
	    <h4>What Card Number to Play</h4>
	    	<dd>The recommendation would be to attempt and stay under the highest played card, however you won't always be the last to play hand, so here are a few tips to keep you in the game...</dd>
	    	<br>
	    	<dd></dd>
	    <h4>When to Play Point Cards</h4>
	    	<dd></dd>
    </div>
    <br><br>
</main>