<main>
    <div class="RuleBook">
        <div class="RuleBlock">
        	<h2>Game Objectives</h2>
        	<p>To be the player with the highest score at the end of the game.</p>
        </div>
        <div class="RuleBlock">
        	<h2>Dice Values</h2>
        		<p>Each die has the value corresponding to the number of dots showing</p>
        </div>
        <div class="RuleBlock">
        	<h2>Scoring</h2>
        		<p>At the end of the roll, the total of all the dice are added and that is the final score</p>
        </div>
        <br><br>
    </div>
</main>
