<main>
    <div class="RuleBook">
        <div class="RuleBlock">
        	<h2>Game Objectives</h2>
        	<p>To be the player with the lowest score at the end of the game. When one player hits 100 points or higher, the game ends; and the player with the lowest score wins!</p>
        </div>
        <div class="RuleBlock">
        	<h2>Card Values</h2>
        		<p>All cards from the hears suit have a value of 1 point. However, the Queen of the spades suit has a destructive point value of 13. Watch out for her!</p>
        </div>
        <div class="RuleBlock">
        	<h2>Scoring</h2>
        		<p>At the end of each round, when every player has layed down a card, the player whomst placed the highest card, of the initial suit played, will take the pile of cards played, and all points that come with it. On the first hand taken, the two middle floating cards, if any, will go to the losing hand.</p>
        </div>
        <div class="RuleBlock">
    	    <h2>Dealing</h2>
    	    	<p>The dealer can be choosen at random, and will deal every card until another round of cards can no longer be delt (these remaining cards are left in the middle pile)</p>
        </div>
        <div class="RuleBlock">
    	    <h2>Passing Cards</h2>
    	    	<p>Before the start of the round, all players must pass cards:</p>
    	    	<p>Round 1 - all players must pass right.</p>
    	    	<p>Round 2 - all players must pass left.</p>
    	    	<p>Round 3 - all players must pass 2 to the right.</p>
    	    	<p>Round 4 - all players must pass 2 to the left.</p>
    	    	<p>Round 5 - all players MUST HOLD their hand.</p>
    	    	<p>Round 6 - repeat from round 1 passing.</p>
        </div>
        <div class="RuleBlock">
    	    <h2>Starting</h2>
    	    	<p>In order for the round to start, a player must start with the 2 of the suit of clubs. If no one is holding the 2 of clubs, it is in the middle pile, and thus the 3 of clubs will start the game. From there the game plays one player at a time clockwise until no cards are left.</p>
        </div>
        <div class="RuleBlock">
            <h2>What Suit to Play</h2>
    	    	<p>If it is your hand to start, you can choose any suit to play. The only exception to this rule, is if the round just started and hearts haven't been played, in which case you are  not aloud to start with hearts. If a player doesn't have any cards in the piles starting suit, then they can discard any one card.</p>
        </div>
        <div class="RuleBlock">
            <h2>What Card Number to Play</h2>
    	    	<p>The recommendation would be to attempt and stay under the highest played card, however you won't always be the last to play hand, so here are a few tips to keep you in the game...</p>
    	    	<br>
    	    	<p>One dangerous stategy would be to run the cards. To do so: You MUST collect all point value cards by the end of the game. That includes the queen of spades and all heart suit cards. If done successfully, the runner will be awarded no points, and all other players receive 100 points.</p>
        </div>
        <div class="RuleBlock">
            <h2>When to Play Point Cards</h2>
    	    	<p>You can play any point card at anypoint. The only exception to this is the first number of hands. In order to start a hand with a point card, at least one player must play a point card down as a substitute for a missing suit. By this, at least one player must play a heart when they can't play the starting suit of the round. From then on all cards are welcome.</p>
        </div>
        <div class="RuleBlock">
            <h2>Counting Points</h2>
                <p>Once the round is over and there are no remaining cards left to play, each player will count their point cards up (1 for each heart, and 13 for those of which end with the queen of spades). There will always be a total of 26 points between all players. Recount if numbers do not add up.</p>
        </div>
        <br><br>
    </div>
</main>
