<div class="scoretab">
<h2 class="scoreTitle">Top Scores</h2>
    <table class="scoreTable">
        <!--template to fill in name and score-->
        {{#each scores}}
            {{> newScore}}
        {{/each}}
    </table>
    <p style="text-align: center;">-- Higher is better --</p>
</div>