<script src="/score.js" charset="utf-8" defer></script>
<link rel="stylesheet" href="scorePage.css" media="screen" />

<div class="scoretab">
<h2 class="scoreTitle">Top Scores</h2>
    <ol class="scoreList">
        <!--template to fill in name and score-->
        {{#fromDB}}
        <li>
            <div class="score">
                <h2 class="scoreName">
                    {{name}}: {{score}}
                    <button class="deleteButton">DELETE</button>
                </h2>
            </div>
        </li>
        {{/fromDB}}
    </ol>
    <p style="text-align: center;">-- Lower is better --</p>
</div>
