a img {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

button {
	height: 30px;
	width: 100px;
	margin: 8px auto;
}

/* Each dice image starts off inicially with the
	.inactive class name to keep things clean
	before roll is clicked						*/
img.inactive {
	display: none;
}

.dice {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: auto;
}

.lastRound {
	width: 25px !important;
	height: 25px !important;
}

.diceBoard {
	background-color: black;
	width: 300px;
	height: 180px;
	border-radius: 20px;
	padding: 10px;
	margin: auto;
}

#GameBoard {
	text-align: center;
    background-color: green;
    margin: 0 auto;
    margin-top: 10px;
    height: 400px;
	width: 600px;
    border: solid 6px #785120;
	border-radius: 8px;
	-webkit-border-radius :8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	box-shadow: #111 1px 1px 2px;
}

#deal {
	margin: auto;
	position: absolute;
	left: 310px;
	top: 170px;
}

#finalScoreLabel, #roundLabel, #bestScoreLabel {
	color: white;
	display: inline-block;
	margin: 0;
	text-align: left;
}

footer {
	font-size : 12px;
	color: grey;
	margin: 10px;
    text-align: center;
    color: white;
}

footer a, footer a:visited{
	color: grey;
}

footer a:hover {
	color: black;
}