.scoreTitle {
    margin-top: 0;
}

.score:hover {
    background-color: #50DD5D;
    border: 10px;
}

.deleteButton {
    padding: 0;
    position: absolute;
    right: 50px;
    background-color: white;
    border-color: black;
    border-radius: 15px;
}

.deleteButton:hover {
    cursor: pointer;
    background-color: red;
}

.scoretab {
    background-color: green;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border: solid 6px #785120;
}
