/**
 *
 *        Default CSS
 *  -  Affects all pages  -
**/
.navlist {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

.site-title {
    margin: 0;
}

header {
    background-color: #ef393a;   /* I want to replace this ugly color with a nice background card themed or something */
    padding: 0;
}
.navlist li {
    padding-left: 30px;
    font-weight: bold;
    max-width: 300px;
}

body {
    margin: 0;
    font-family: 'Baskerville Old Face', Times, serif;
    background-color: #092E20;
}

.navitem:hover {
    color: blue;
}

.navitem a {
    background-color: #785120;
    color: #60B41D;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.navitem a:hover {
    background-color: #60B41D;
    color: #785120;
}


/**
 *
 * RULES PAGE CSS
 *
**/
.RuleBlock {
    border-radius: 20px;
    background-color: green;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    position: static;
    max-width: 400px;
    left: 50px;
    top: 150px;

}

.RuleBlock h2 {
    background-color: #785120;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.RuleBlock h4 {
    font-weight: bold;
    color: #60B41D;
}
