
.navlist {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

.site-title {
    margin: 0;
}

header {
    padding: 0;
}
.navlist li {
    padding-left: 30px;
    font-weight: bold;
    max-width: 300px;
}

body {
    margin: 0;
    font-family: 'Baskerville Old Face', Times, serif;
    background-color: lightgreen;
}

.navitem:hover {
    color: blue;
}

.playSpace {
    display: inline-block;
    position:absolute;
    min-width: 1200px;
    min-height: 400px;
    right: 40px;
    background-color: white;
}