.navlist {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

.site-title {
    margin: 0;
}

header {
    background-color: #ef393a;
    padding: 0;
}
.navlist li {
    padding-left: 30px;
    font-weight: bold;
    max-width: 300px;
}

body {
    margin: 0;
    font-family: 'Baskerville Old Face', Times, serif;
}

.navitem:hover {
    color: blue;
}

.RuleBlock {
    border-radius: 20px;
    background-color: #ef393a;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    position: static;
    max-width: 400px;
    left: 50px;
    top: 150px;

}

.RuleBlock h2 {
    background-color: #f79798;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.RuleBlack h4 {
    font-weight: bold;
}